In [2]:
import numpy as np
import pandas as pd

n = int(input())

columns = input().split("\t")

years = []
months = []
ttmax = []
ttmin = []

missing = []
for i in range(n):
    l = input().split(",")

    years.append(int(l[0]))
    months.append(l[1])
    
    #print(l[2])
    if 'Missing' in l[2]:
        ttmax.append(np.nan)
        missing.append([i, "min"])
    else:
        ttmax.append(float(l[2]))
        
    if 'Missing' in l[3]:
        ttmin.append(np.nan)
        missing.append([i, "max"])
    else:
        ttmin.append(float(l[3]))

5
yyyy    month   tmax    tmin
1908,January,5.0,-1.4
1908,January,6.0,-1.4
1908,January,6.0,-1.4
1908,January,6.0,-1.4
1908,January,6.0,-1.4

In [19]:
missing

[]

In [16]:
[years, months, ttmin, ttmax]

[[1908, 1908, 1908, 1908, 1908],
 ['January', 'January', 'January', 'January', 'January'],
 [-1.4, -1.4, -1.4, -1.4, -1.4],
 [5.0, 6.0, 6.0, 6.0, 6.0]]

In [14]:
dic = {}
for col, value in zip(columns, [years, months, ttmin, ttmax]):
    dic[col] = value

In [18]:
df

   yyyy    month  tmax  tmin
0  1908  January  -1.4   5.0
1  1908  January  -1.4   6.0
2  1908  January  -1.4   6.0
3  1908  January  -1.4   6.0
4  1908  January  -1.4   6.0

In [ ]:
df = pd.DataFrame(dic)
df=df.interpolate(method="quadratic")
for miss in missing:
    if miss[1] == "min":
        print(round(df.iloc[miss[0]]['tmin'], 1))
    else:
        print(round(df.iloc[miss[0]]['tmax'], 1))